/* fonts */
@font-face {
  font-family: 'persian';
  src: url("../fonts/100.woff2") format("woff2");
  font-weight: 100;
}
@font-face {
  font-family: 'persian';
  src: url("../fonts/200.woff2") format("woff2");
  font-weight: 200;
}
@font-face {
  font-family: 'persian';
  src: url("../fonts/300.woff2") format("woff2");
  font-weight: 300;
}
@font-face {
  font-family: 'persian';
  src: url("../fonts/400.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: 'persian';
  src: url("../fonts/500.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: 'persian';
  src: url("../fonts/600.woff2") format("woff2");
  font-weight: 600;
}
@font-face {
  font-family: 'persian';
  src: url("../fonts/700.woff2") format("woff2");
  font-weight: 700;
}
@font-face {
  font-family: 'persian';
  src: url("../fonts/800.woff2") format("woff2");
  font-weight: 800;
}
@font-face {
  font-family: 'persian';
  src: url("../fonts/900.woff2") format("woff2");
  font-weight: 900;
}

/* poppins */

@font-face {
  font-family: 'poppins';
  src: url("../fonts/poppins/100.woff2") format("woff2");
  font-weight: 100;
}
@font-face {
  font-family: 'poppins';
  src: url("../fonts/poppins/200.woff2") format("woff2");
  font-weight: 200;
}
@font-face {
  font-family: 'poppins';
  src: url("../fonts/poppins/300.woff2") format("woff2");
  font-weight: 300;
}
@font-face {
  font-family: 'poppins';
  src: url("../fonts/poppins/400.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: 'poppins';
  src: url("../fonts/poppins/500.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: 'poppins';
  src: url("../fonts/poppins/600.woff2") format("woff2");
  font-weight: 600;
}
@font-face {
  font-family: 'poppins';
  src: url("../fonts/poppins/700.woff2") format("woff2");
  font-weight: 700;
}
@font-face {
  font-family: 'poppins';
  src: url("../fonts/poppins/800.woff2") format("woff2");
  font-weight: 800;
}
@font-face {
  font-family: 'poppins';
  src: url("../fonts/poppins/900.woff2") format("woff2");
  font-weight: 900;
}

/* canvas fonts */

@font-face {
  font-family: 'Badeen Display';
  src: url('/fonts/Badeen_Display/BadeenDisplay-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Handjet */
@font-face {
  font-family: 'Handjet';
  src: url('/fonts/Handjet/Handjet-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Handjet';
  src: url('/fonts/Handjet/Handjet-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Handjet';
  src: url('/fonts/Handjet/Handjet-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Handjet';
  src: url('/fonts/Handjet/Handjet-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Handjet';
  src: url('/fonts/Handjet/Handjet-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Handjet';
  src: url('/fonts/Handjet/Handjet-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Handjet';
  src: url('/fonts/Handjet/Handjet-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Handjet';
  src: url('/fonts/Handjet/Handjet-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Handjet';
  src: url('/fonts/Handjet/Handjet-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* Marhey */
@font-face {
  font-family: 'Marhey';
  src: url('/fonts/Marhey/Marhey-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Marhey';
  src: url('/fonts/Marhey/Marhey-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Marhey';
  src: url('/fonts/Marhey/Marhey-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Marhey';
  src: url('/fonts/Marhey/Marhey-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Marhey';
  src: url('/fonts/Marhey/Marhey-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Oi */
@font-face {
  font-family: 'Oi';
  src: url('/fonts/Oi/Oi-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Vazirmatn */
@font-face {
  font-family: 'Vazirmatn';
  src: url('/fonts/Vazirmatn/Vazirmatn-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Vazirmatn';
  src: url('/fonts/Vazirmatn/Vazirmatn-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Vazirmatn';
  src: url('/fonts/Vazirmatn/Vazirmatn-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Vazirmatn';
  src: url('/fonts/Vazirmatn/Vazirmatn-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Vazirmatn';
  src: url('/fonts/Vazirmatn/Vazirmatn-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Vazirmatn';
  src: url('/fonts/Vazirmatn/Vazirmatn-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Vazirmatn';
  src: url('/fonts/Vazirmatn/Vazirmatn-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Vazirmatn';
  src: url('/fonts/Vazirmatn/Vazirmatn-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Vazirmatn';
  src: url('/fonts/Vazirmatn/Vazirmatn-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

body {
  padding: 0;
  margin: 0;
  position: relative;
}

pre {
  font-family: 'Courier New', Courier, monospace !important;
  direction: ltr !important;
}
